

.mdiv{
    /* padding-top: 100px;
    padding-left: 20px; */
    background-color: aqua;
    height: 200px;
    width: 200px;
    margin: 100px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;

}

